{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block body %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background-color: rgb(158, 223, 243)">
  <div class="container">
    <h1>Hello, Selamat Datang di Bengkel Kami</h1>
    <p>Bengkel ini akan melayani Kendaraan anda hingga beres</p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Belanja disini &raquo;</a>
    </p>
  </div>
</div>
<div class="container" style="background-color: rgb(158, 223, 243)">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Cepat</h2>
      <p>segera upload</p>
      <p>
        <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Mudah</h2>
      <p>segera upload</p>
      <p>
        <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Terpercaya</h2>
      <p>segera upload</p>
      <p>
        <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#0BB3DD"
    fill-opacity="1"
    d="M0,96L30,106.7C60,117,120,139,180,133.3C240,128,300,96,360,112C420,128,480,192,540,192C600,192,660,128,720,106.7C780,85,840,107,900,96C960,85,1020,43,1080,48C1140,53,1200,107,1260,122.7C1320,139,1380,117,1410,106.7L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"
  ></path>
</svg>

{% endblock %}
